<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="assets/others/normalize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
    <title>title here</title>
    </head>
<body>

    <!-- content here -->
</body>
</html>
